<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fruteria</title>
</head>
<body> 
    {%with mensajes= get_flashed_messages() %}
     {% if mensajes%}
      {% for msj in mensajes %}
        <h3>{{ msj }}</h3>
      {% endfor %}
     {% endif %}
    {%endwith%}

    <br>
    <br>
    <center><h1>Control de Frutas</h1></center>
    <br>

    <form action="/guardar" method="POST">
        <input type="text" name="txtFruta" placeholder="Escribe una fruta">
        <input type="text" name="txtTemporada" placeholder="Escribe la Temporada">
        <input type="number" name="txtPrecio" placeholder="Escribe el Precio">
        <input type="number" name="txtStock" placeholder="Escribe cuantos son">

        <button type="submit"> Guardar </button>
        <a href="">Tabla</a>
        <a href="">Eliminar</a>

    </form>
    
</body>
</html>
