<!DOCTYPE html>
<html>
<head>
<style>
 body {
  font-family: Arial, sans-serif;
  background-color: #F3FF00 ;
 }

h1 {
    text-align: center;
    margin-top: 20px;
    color: #f3ff00;
  }

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
th {
    background-color: #f19c95;
    color: #fff;
  }

body {
    background-image: url(fondo1.avif);
    background-repeat: no-repeat;
    background-size: cover;
}


