<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscas esta flor</title>
</head>
<body>
    <h1>Buscar Fruta</h1>
    <form action="{{ url_for('buscar') }}" method="POST">
        <input type="text" name="txtNombre" placeholder="Buscar por nombre">
        <button type="submit">Buscar</button>
    </form>

    {% if flores %}
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
            {% for flor in flores %}
                <tr>
                    <td>{{ fruta[0] }}</td>
                    <td>{{ fruta[1] }}</td>
                    <td>{{ fruta[2] }}</td>
                    <td>{{ fruta[3] }}</td>
                    <td>
                        <a href="{{ url_for('editar', id=fruta[0]) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>