<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Flor</title>
</head>
<body>
    <h1>Editar Fruta</h1>
    <form action="{{ url_for('editar2', id=fruta[0]) }}" method="POST">
        <input type="text" name="txtNombre" placeholder="Escribe el nombre" value="{{ fruta[1] }}">
        <input type="number" name="txtCantidad" placeholder="Escribe la cantidad" value="{{ fruta[2] }}">
        <input type="number" name="txtPrecio" placeholder="Escribe el Precio" value="{{ fruta[3] }}">
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>