<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de flores</title>
</head>
<body>

    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h3>{{ msj }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br>
    <br>
    <input type="text" name="txtNombre" placeholder="Escribe el nombre">
    <input type="number" name="txtCantidad" placeholder="Escribe la cantidad">
    <input type="number" name="txtPrecio" placeholder="Escribe el precio">
    
    <button type="submit">Guardar</button>
    <a href="{{ url_for('') }}">Tabla</a>
    <a href="{{ url_for('buscar') }}">Buscar</a>
</body>
</html>