<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas de Flores</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        {% for flor in flores %}
            <tr>
                <td>{{ fruta[0] }}</td>
                <td>{{ fruta[1] }}</td>
                <td>{{ fruta[2] }}</td>
                <td>{{ fruta[3] }}</td>
                <a href="{{ url_for('editar2', id=fruta[0]) }}">Editar</a>
            </tr>
        {% endfor %}
    </table>
</body>
</html>