<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Almbum</title>
</head>
<body>
    <center>
        <br>
        <h1>Eliminar Album</h1>
        <br>
        <br>
        <form action="" method="POST">
            <input type="text" name="txtTitulo", value="{{album.1}}",readonly>
            <input type="text" name="txtArtista", value="{{album.2}}", readonly>
            <input type="number" name="txtAnio", value="{{album.3}}", readonly>
    
            <button type="submit"> Eliminar</button>
            <button type="submit"> Cancelar </button>
    
        </form>
        </center>
    
</body>
</html>